# 1. API Key của Google (Google Maps API / Google Places API)
# Lấy tại Google Cloud Console (https://console.cloud.google.com/)
API_KEY=AIzaSyAMG59TtPIIIPEJRBpogUFOIkja8yk6LyI

# 2. API Endpoint của Google Places Text Search
API_ENDPOINT=https://maps.googleapis.com/maps/api/place/textsearch/json
